/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  padding: 140px 0;
  gap: 20px;
  margin: auto;
}
.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 190px;
}
.footer__title {
  color: black;
  font-weight: 600;
}
.footer__title--link:hover {
  color: var(--vermelho_00);
  opacity: 1;
}
.footer__info {
  font-weight: 300;
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: initial;
  }
  .footer__col {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
    width: calc(100% - 20px);
  }
  .footer__col {
    width: 100%;
    text-align: center;
    margin: initial;
    max-width: initial;
  }
}