@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './footer.css';
@import './header.css';
@import './popup.css';
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important; 
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 5px;
  border: 2px solid white;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
:root {
  --preto_00: #000000;
  --vermelho_00: #F51F2B;
  --cinza_00: #898989;
  --cinza_01: #ECECEC;
}
strong {
  font-weight: 600;
}
#body-scroll {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  padding-top: 80px;
  overflow: hidden;
}
.max__width {
  width: calc(100% - 200px);
  max-width: 1200px;
  margin: auto;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}
.g-link {
  color: black;
}
.g-link:hover {
  text-decoration: underline;
} 
.g-gap {
  gap: 8px;
}
.g-hover__container {
  position: relative;
  height: max-content;
  width: 100%;
}
.g-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: .3s;
  cursor: pointer;
  opacity: 0;
  backdrop-filter: blur(10px);
}
.g-hover__line-height {
  line-height: 28px;
}
.g-hover:hover {
  opacity: 1;
  transition: .3s;
}
.g-hover__type {
  position: absolute;
  bottom: 2px;
  margin: auto;
  font-size: 12px;
  font-weight: 100;
  color: white;
}
.g-grid__mobile {
  display: none;
}

/* Loading Images */
.loading__img {
  background: linear-gradient( 90deg, #ececec 25%, #d7d7d7 37%, #ececec 63% );
  background-size: 400% 100%;
  position: relative;
  z-index: 2;
  animation: imgLoading 1.4s ease infinite;
}

@keyframes imgLoading {
  0%   { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

@media screen and (max-width: 1000px) {
  .max__width {
    width: calc(100% - 20px);
  }
  .g-gap {
    gap: 6px;
  }
  body {
    padding-top: 50px;
  }
  p {
    font-size: 14px;
  }
  .g-grid__mobile {
    display: block;
    font-weight: 400;
    font-size: 14px;
    width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 21px;
  }
  .g-hover {
    display: none;
  }
}