header * {
  transition: .3s;
}
[active] {
  color: var(--vermelho_00) !important;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  background: white;
  z-index: 10;
}
.header__logo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__name {
  font-weight: 600;
  font-size: 24px;
}
.header__description {
  font-weight: 300;
  font-size: 14px;
}
.header__name span {
  color: var(--vermelho_00);
}
.header__container {
  display: flex;
  gap: 100px;
}
.header__links {
  display: flex;
  gap: 24px;
}
.header__link {
  display: flex;
  text-decoration: none;
  color: var(--preto_00);
  font-weight: 600;
  transition: .3s;
  gap: 24px;
}
.header__link:hover {
  transition: .3s;
  color: var(--vermelho_00);
}
.header__a {
  font-size: 20px;
}
.header__redes {
  display: flex;
  gap: 8px;
}
.header__redes img {
  width: 22px;
  height: 22px;
  transition: .3s;
  cursor: pointer;
}
.header__redes img:hover {
  opacity: .6;
}
.header__hamburger, .header__close {
  display: none;
}
.header__hamburger {
  position: absolute;
  right: 20px;
  top: 14px;
}
@keyframes openMenu {
  from { transform: translateX(-100vw); }
  to   { transform: translateX(0); }
}
@keyframes closeMenu {
  from { transform: translateX(0); }
  to   { transform: translateX(-100vw); }
}
@media screen and (max-width: 1200px) {
  .header__links {
    gap: 12px;
  }
  .header__container {
    gap: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header__description {
    font-size: 10px;
    text-overflow: ellipsis;
    width: calc(100% - 44px);
    overflow: hidden;
    text-wrap: nowrap;
  }
  header, .no-scroll header {
    height: 50px;
    padding: 0 20px;
  }
  .header__links, .header__redes {
    display: none;
  }
  .header__name {
    font-size: 14px;
  }
  .header__hamburger {
    display: block;
  }
  .header__container {
    transform: translateX(-100vw);
  }
  .menu--open .header__container {
    animation: 1s openMenu forwards;
  }
  .menu--close .header__container {
    animation: 1s closeMenu forwards;
    transform: translateX(0);
  }
  .menu--close.menu--open {
    opacity: 0;
  }
  .menu--open {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20;
    gap: 0;
  }
  @supports (height: 100dvh) {
    .menu--open {
      height: 100dvh;
    }
  }
  .menu--open .header__description, .menu--open .header__links, .menu--open .header__redes, .menu--open .header__close {
    display: block;
  }
  .menu--open .header__hamburger {
    display: block;
  }
  .menu--open .header__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: initial;
    left: 0;
    top: 0;
    background: white;
    width: 80vw;
    height: 100%;
  }
  .menu--open .header__links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .menu--open .header__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }
  .menu--open .header__link, .menu--open .header__redes {
    padding: 0 20px;
  }
  .menu--open .header__redes {
    gap: 24px;
    margin: 30px 0;
  }
  .menu--open hr {
    width: calc(100% - 40px);
    margin: auto;
  }
  .menu--open .header__link:hover {
    background-color: rgb(209, 209, 209);
  }
  .menu--open .header__redes img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
  }
  .menu--open .header__redes {
    margin: 30px auto;
    display: flex;
    gap: 14px;
  }
  .menu--open .header__close {
    position: absolute;
    right: 18px;
    top: 1px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .menu--open .header__close:hover {
    opacity: 0.4;
  }
  .header__right {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
  @supports not ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
    .header__right {
      background: rgba(255, 255, 255, 0.75);
    }
  }
}
