/* Popup */
* {
  overscroll-behavior: contain;
}
.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.4);
  z-index: 10;
}
.popup__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: white;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 50px;
  gap: 40px;
}
.popup__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: scroll;
  padding-right: 10px;
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  background: none;
  transition: .3s;
  cursor: pointer;
  font-size: 30px;
  text-shadow: 2px 0px 3px #ffffffa3;
}
.popup__close:hover {
  opacity: 0.3;
  transition: .3s;
}
.popup__close--zoom {
  position: fixed;
  z-index: 13;
}
.popup__title {
  position: sticky;
  top: 0;
  background: white;
  font-weight: 600;
  font-size: 24px;
}
.popup__data, .popup__descricao, .popup__descricao * {
  font-size: 14px;
  font-weight: 300;
}
.popup__descricao strong, .popup__descricao br {
  font-weight: 600;
}
.popup__descricao li {
  margin-left: 24px;
}
.popup__portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
.popup__img--thumb {
  width: 100%;
  height: max-content;
  object-fit: contain;
}
.popup__grid {
  column-count: 2;
}
.popup__grid img {
  display: block;
  height: max-content;
  margin-bottom: 8px;
  width: 100%;
}
.popup__img {
  object-fit: contain;
  width: 100%;
}
.slowFade--open {
  transition: .2s;
  animation: open forwards 1s;
}
.slowFade--close {
  transition: .2s;
  cursor: pointer;
  animation: close forwards 1s;
}
@keyframes close {
  from { opacity: 1 }
  to { opacity: 0 }
}
@keyframes open {
  from { opacity: 0 }
  to { opacity: 1 }
}
.popup__zoom {
  position: fixed;  
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 12;
  overflow: hidden;
  cursor: grab;
}
.popup__zoom * {
  transition: .2s;
}
.popup__zoom--img {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
.popup__zoom--ctn {
  width: 100%;
  height: 100%;
}
[opentozoom] {
  cursor: pointer;
  transition: .3s;
  border: 1px solid transparent;
}
[opentozoom]:hover {
  border: 1px solid #cacaca;
  transition: .3s;
}
@media screen and (max-width: 1000px) {
  .popup {
    padding: 0;
  }
  .popup__content {
    padding: 10px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
  .popup__close, .popup__close--zoom {
    position: absolute;
    right: 10px;
    top: 2px;
  }
  .popup__title {
    font-size: 16px;
  }
  .popup__descricao, .popup__data {
    font-size: 14px;
  }
  .popup__container {
    gap: 14px;
  }
  .popup__portfolio, .popup__grid {
    display: flex;
    flex-direction: column;
  }
  .popup__close {
    font-size: 24px;
  }
}