/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  padding: 140px 0;
  gap: 20px;
  margin: auto;
}
.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 190px;
}
.footer__title {
  color: black;
  font-weight: 600;
}
.footer__title--link:hover {
  color: var(--vermelho_00);
  opacity: 1;
}
.footer__info {
  font-weight: 300;
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: initial;
    width: calc(100% - 20px);
    padding: 40px 0;
  }
  .footer__col {
    width: 100%;
    max-width: initial;
  }
}