/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: 440px;
  gap: 20px;
  margin: auto;
}
.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 190px;
}
.footer__title {
  color: black;
  font-weight: 600;
}
.footer__info {
  font-weight: 300;
  font-size: 14px;
}